.color-box {
    margin: 10px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 #666;
    text-align: center;
}

.color-value {
    font-size: 20px;
    font-weight: 700;
}

.color-box__button {
    margin: 6px;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.color-box__button:hover {
    background-color: #000;
    color: #fff;
}