.color-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    aspect-ratio: 2/1;
    margin: 40px;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 #666;
}

.color-display__hex {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 0px #fff, 0px 1px #fff, -1px 0px #fff, 0px -1px #fff;
}

.color-display__clipboard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: 1px solid black;
}